<h1>AC on Rails - Devices (<a href="api">Device API</a>)</h1>
<div style="border: 2px dashed black">
<h3>Serial Number Search</h3>
  <%= form_tag(root_path, :method => "get") do %>
    <%= search_field_tag :search, params[:search], placeholder: "Serial Number Search" %>
    <%= button_tag "Search" %>
  <% end %>
</div>
<p></p>
<% if @devices.count > 0 %>
  <% @devices.each do |device| %>
    <div style="border: 2px solid black">
      <h3>Serial Number: <%= device.serial_number %></h3>
      <p>Firmware Version: <%= device.firmware_version %></p>
      <p>Registration Date: <%= device.registration_date %></p>
      Click <a href="devices/<%= device.id %>/device_data">here</a> for device data
    </div>
    <p></p>
  <% end %>
<% else %>
  <h3>No Devices</h3>
<% end %>

